.fancy {
  font-weight: bolder;
}

.font {
  text-decoration: underline;
}

.box {
  border-left: solid;
  border-right: solid;
  border-top: solid;
  border-bottom: solid;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

#float {
  float: left;
}